<p id="notice"><%= notice %></p>

<h1>Editoriales</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Direccion</th>
      <th>Numero</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @editorials.each do |editorial| %>
      <tr>
        <td><%= editorial.nombre %></td>
        <td><%= editorial.direccion %></td>
        <td><%= editorial.numero %></td>
        <td><%= link_to 'Show', editorial %></td>
        <td><%= link_to 'Edit', edit_editorial_path(editorial) %></td>
        <td><%= link_to 'Destroy', editorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Editorial', new_editorial_path %>
